.savings-view {
	.ant-layout-content {
		margin-top: 36px;
	}

	.staking-card {
		.ant-card-head-title {
			font-size: 18px;
		}

		.ant-card-body {
			padding: 0;
			.ant-row {
				border-bottom: 1px solid #eceff1;
				padding: 13px 22px;

				.ant-col {
					&.balance {
						display: flex;
						align-items: center;
						img {
							margin-right: 6px;
						}
					}
				}
			}

			.ant-form-item {
				padding: 0;
			}
		}

		.staking-btn {
			background: #016eac;
			border: none;
			margin-top: 20;
			height: 60px;
			&[disabled] {
				color: #8c8c8c;
				background-color: #f0f0f0;
				border: none;
			}
			&:hover {
				background-color: #0186d3;
			}
		}
	}

	.expandable-overview {
		.ant-collapse-content-box {
			padding: 0;
		}
	}

	.detail-overview-card {
		.detail-overview-card-row {
			.detail {
				.primary {
					margin: 0;
					display: inline-block;
					margin-right: 5px;
				}
				.secondary {
					margin: 0;
					display: inline-block;
					margin-right: 5px;
				}
			}
		}
	}
}
