.home-view {
  .expandable-overview {
    .ant-collapse-content-box {
      padding: 0;
    }
    background-color: white;
  }
  .advanced-navigation {
    .ant-collapse-content-active {
      border-top: 0;
    }
  }

  .home-left{
    .ant-card {
      .ant-card-body{
        padding: 15px 22px;
      }
    }

    .ant-collapse{
      .ant-collapse-item{
        .ant-collapse-header{
          padding: 26px 22px;
          font-size: 22px;
        }
      }
    }

    .lp-row{
      margin: 18px 22px;
      align-items: center;

      img + img{
        position: absolute;
        left: 15px;
      }

      a{
        font-size: 18px;
      }
    }
  }
}
